@value variables: '../styles/variables.css';
@value spacing from variables;

.container {
    text-align: center;
    padding: 1rem;
}

.container > h1,
.container > h2 {
    font-family: 'Roboto Condensed';
}

.container > h1 {
    font-size: 3rem;
}

.container > p {
    margin: 0 0 spacing 0;
}

.container > p > a,
.container > p > a:visited {
    color: green;
}

.container > button {
    border: none;
    background: green;
    color: white;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-family: 'Bitter';
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

.container > button:hover {
    cursor: pointer;
}
