@value variables: '../styles/variables.css';
@value primary-font, spacing, red, yellow, white from variables;

.container {
    margin-top: spacing;
    padding: spacing;
    background-color: yellow;
    font-family: primary-font;
}

.profile {
    display: flex;
    width: 100%;
}

.profile > .profileImage {
    flex: 1;
    border-radius: 50%;
    background-color: green;
    margin-right: spacing;
    border: solid white 2px;
}

.profile > .stats > .userName {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    color: red;
}

.profile > .stats > dl > dt {
    display: none;
}

.profile > .stats > dl > dd {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
}

.profile > .stats > dl > dd,
.profile > .stats > dl > dd > a {
    color: white;
}

.profile > .stats > dl > dd > svg {
    margin-right: 0.25rem;
}
