@value variables: '../styles/variables.css';
@value primary-font, spacing, red, yellow, white from variables;

.container {
    padding: spacing;
    font-family: primary-font;
}

.profile {
    width: 100%;
}

.profile > .profileImage {
    float: left;
    border-radius: 50%;
    background-color: green;
    margin-right: spacing;
    border: solid white 2px;
    height: 30px;
}

.profile > .stats {
    display: inline-block;
}

.profile > .stats > .userName {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;

}

.profile > .stats > dl {
    margin: 0;
    display: none; /* temp - not sure whether to keep this */
}

.profile > .stats > dl > dt {
    display: none;
}

.profile > .stats > dl > dd {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
}

.profile > .stats > dl > dd,
.profile > .stats > dl > dd > a {
    color: white;
}

.profile > .stats > dl > dd > svg {
    margin-right: 0.25rem;
}
