@value variables: '../styles/variables.css';
@value spacing, white from variables;

.container {
    position: absolute;
    padding: spacing;
    z-index: 200;
}

.container > svg {
    fill: white;
}

.container > svg:hover {
    cursor: pointer;
}
