@value variables: '../styles/variables.css';
@value primary-font, green, spacing, yellow from variables;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: yellow;
    padding: spacing;
}

.container > li {
    list-style: none;
    margin: spacing;
    width: 50%;
    margin: spacing 0;
}

.container > li > img {
    width: 15%;
    border: solid #EEE 1px;
    margin-right: 1rem;
}

.details {
    font-family: primary-font;
    display: inline-block;
    vertical-align: top;
    margin-left: spacing;
    margin: 0;
    width: 74%;
}

.songName {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}

.artist {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
