@value variables: '../styles/variables.css';
@value playlistImageHeight, spacing, white from variables;
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Crimson+Text:400,700|Roboto+Condensed:400,700');

.header {
    position: relative;
    height: playlistImageHeight;
    color: white;
}

.statsBlock > *,
.header h1,
.numberOfFollowers {
    font-family: 'Bitter';
    margin: 0;
    line-height: 2rem;
    position: relative;
    z-index: 10;
}

.statsBlock {
    position: absolute;
    top: 3rem;
    right: 15rem;
}

.statsBlock a {
    color: #FFF;
}

.statsBlock > li {
    list-style: none;
}

.statsBlock > li > svg {
    padding-right: spacing;
    fill: white;
}

.metaData {
    bottom: 1rem;
    padding: spacing;
    position: absolute;
}

