@value variables: '../styles/variables.css';
@value primary-font, spacing, spacing-q, white from variables;

.container {
    font-family: primary-font;
}

.container > img {
    width: 100%;
}

.container > h1 {
    margin-top: 0;
}

.container > ul {
    padding: 0;
    list-style: none;
}

.container > ul > li {
    margin-bottom: spacing-q;
}

.container > ul > li > svg {
    margin-right: spacing-q;
}
